.footertop{
    width: 1920px;
    height: 510px;
    flex-shrink: 0;
    background: #e2dff5;
    padding-top: 115px;

    &__h2 {
        color: #140633;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 44.644px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.116px;
    }

    &__inp {
        width: 700px;
        color: #AAA;
        font-family: 'Montserrat';
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        padding-left: 20px;
        line-height: normal;
        letter-spacing: -0.7px;
        height: 106px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 4px solid #AAA;
        
       margin-left: 536px;
       margin-top: 67px;
        background: #FFF;
    }

    &__btn {
        color: #FFF;
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.6px;
        display: flex;
        width: 261px;
        height: 105px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #3685FB;
        margin-left: 1235px;
        margin-top: -105px;
    }

}