.hero{
    padding-left: 181px;
    padding-top: 136px;

    img {
        margin-top: 100px;
    }

    h2 {
        color: #091F3F;
        font-family: 'Montserrat';
        font-size: 69px;
        font-style: normal;
        font-weight: 700;
        line-height: 140.4%;
        /* 96.012px */
        letter-spacing: -1.71px;
        margin-left: 690px;
        margin-top: -400px;
    }

    p {
        color: #898989;
        font-family: 'Montserrat';
        font-size: 20px;
        margin-left: 690px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.5px;
    }

    .btn {
        display: flex;
        width: 261px;
        height: 72px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #3685FB;
        color: #FFF;
        font-family:' Montserrat';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.6px;
        margin-left: 690px;
        margin-top: 13px;
        border: none;
    }
}
.quti__1{
    width: 1920px;
    height: 540px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    margin-top: 400px;
}
